<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title</title>
    }
    else
    {
        <title>MyWordGame</title>
    }



    <link href="~/css/style.css" rel="stylesheet" />

    <script src="~/js/jquery-3.6.0.min.js"></script>

    <script src="~/js/JavaScript.js"></script>


    <link rel="shortcut icon" href="~/images/gameLogo.png" type="image/x-icon">
</head>
<body>
    @*@if (ViewContext.HttpContext.User.IsInRole("kl") || ViewContext.) {
        <div id="NameInCorner">

        </div>
        }*@

    @RenderBody()



    <script src="~/js/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation-unobtrusive-main/src/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
            $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
            $("div[onmouseover='S_ssac();']").remove();
            $("center").remove();
            $("div[style='height: 65px;']").remove();
        });
    </script>
</body>
</html>
