﻿@model WebWordGame.Models.PersonModel

@{
    ViewBag.Title = "Профиль";
}
<link href="~/css/userInfo.css" rel="stylesheet" />


<div class="mainUserUnfo">
    <div class="blockUserInfo">
        <div class="namePhotoAndStatus">

            <div class="userPhotoBlock">
                <img src="@ViewBag.Human.ProfileImageId.ImageSource" />
                <button onclick="showImagesMenu()">Сменить изображение</button>
            </div>

            <div class="nameAndStatus">

                <div class="userName">
                    @ViewBag.Human.LoginName
                </div>


            </div>
            <div class="profileLeaveBtns">
                <a asp-action="index" asp-controller="home">
                    <input class="menuBtns logoutBtn" type="submit" value="На главную" />
                </a>
                <a asp-action="queue" asp-controller="game">
                    <input class="menuBtns logoutBtn" type="submit" value="К списку игр" />
                </a>
                <form asp-action="logout" asp-controller="login">
                    <input class="menuBtns logoutBtn" type="submit" value="Выйти" />
                </form>
            </div>

        </div>



        <form asp-action="userpage" asp-controller="profile" class="choosingPhoto" method="post">
            <div class="PhotoCollection">
                @foreach (var item in ViewBag.UserAvatar)
                {

                    <div class="oneOfChoosingImage">
                        <label>

                            <input type="radio" name="PictureId" value="@item.Id" width="50">
                            <img src="@item.ImageSource" />
                        </label>
                    </div>
                }
            </div>

            <br />
            <br />
            <br />
            <br />
            <input class="choosingPhotoBtn acceptChoosingPhotoBtn" type="submit" value="Выбрать" />

            <button class="choosingPhotoBtn cancelChoosingPhotoBtn" onclick="hideImagesMenu()">Отмена</button>
        </form>

        <table class="userInfoInTable">
            <tr>
                <td>
                    <table class="firstSideInfoInTable">
                        <tr>
                            <td>Сыграно игр</td>
                            <td>@ViewBag.Human.Games.Count</td>
                        </tr>
                        <tr>
                            <td>Побед</td>
                            <td>@ViewBag.Human.QuantityOfWins</td>
                        </tr>
                        <tr>
                            <td>Набрано очков за все время</td>
                            <td>@ViewBag.Human.TotalScore</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a asp-action="AllPlayedGamesByEnteredGamer" asp-controller="profile">
                                    <input class="menuBtns gamesHystoryBtn" type="submit" value="История игр" />
                                </a>
                            </td>
                        </tr>

                    </table>
                </td>

                <td>
                    <table class="secondSideInfoInTable">
                        <tr>
                            <td style="font-size: calc(50px + 5vw);">
                                @ViewBag.Percent%
                            </td>
                        </tr>
                        <tr>
                            <td>Процент побед</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</div>
<script>
    function showImagesMenu() {
        var choosingPhotoMenu = document.getElementsByClassName("choosingPhoto");
        choosingPhotoMenu[0].style.display = 'block';
    }
    function hideImagesMenu() {
        var choosingPhotoMenu = document.getElementsByClassName("choosingPhoto");
        choosingPhotoMenu[0].style.display = 'none';
    }
</script>