﻿@{
    ViewBag.Title = "Игра в слова";
}

<link href="~/css/BattleFieldStyles.css" rel="stylesheet" />
<link href="~/css/queueStyles.css" rel="stylesheet" />
<script src="~/js/Timer.js"></script>
<table class="mainTable">
    <thead>
        <tr style="height:50px;">
            <td width="25%">
                <h1 style="margin:0;">Участники</h1>
            </td>
            <td width="40%" style="text-align: center">
                <h1 style="margin:0;" id="showWhoMustMove"></h1>
            </td>
            <td width="10%" style="text-align: center">
                <h1 style="margin:0;" class="seconds"></h1>
            </td>
            <td style=" display: flex; justify-content: end;">
                @if (User.Identity.Name == ViewBag.Game.Creator && ViewBag.Game.GameStatus == "Created")
                {
                    <form asp-action="StartGame" asp-controller="Game" id="startGameBtn">
                        <input value="@ViewBag.Game.Id" name="roomId" style="display: none" />
                        <button class="menuBtns headBtn" type="submit">Начать игру</button>
                    </form>

                }
                <form asp-action="CheckGameStatusForCorrectLeaving" asp-controller="Game">
                    <input value="@User.Identity.Name" name="leaverName" style="display: none" />
                    <input value="@ViewBag.Game.Id" name="roomId" style="display: none" />
                    <button class="menuBtns headBtn" type="submit">Покинуть игру</button>

                </form>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="position:relative; min-width: 340px;">
                <div class="gamersBlock">

                    @foreach (var gamer in ViewBag.Game.roomGamers)
                    {
                        @if (gamer.ConnectedToTheGame)
                        {
                            <div class="theGamer" name="@gamer.Person.LoginName">
                                <div class="gamersAvatarBlock">
                                    @foreach (var photo in ViewBag.Photos)
                                    {
                                        if (gamer.Person.ProfileImageId == photo)
                                        {
                                            <img class="gamersAvatar" src="@photo.ImageSource" />
                                            break;
                                        }
                                    }
                                </div>
                                <div class="nameAndStatus">
                                    <div class="gamersName">@gamer.Person.LoginName</div>
                                    <div class="gamersRank">Счет: @gamer.Score</div>
                                </div>
                            </div>
                        }

                    }


                  
                </div>
            </td>
            <td colspan="3">
                <div class="theGameBlock">



                    <div class="sendedWordsBlock">

                        
                    </div>
                    <div class="mistakeAlertText">
                        Какой-то алерт

                    </div>
                    <form asp-action="SendTheWord" asp-controller="Game" class="sendTheWordBlock">
                        <input name="theWord" id="theWord" type="text" class="typeTheWord inputBlock" placeholder="Поле для ввода слова" autocomplete="off" />
                        <input name="username" id="forTakeUsername" value="@User.Identity.Name" style="display:none" />
                        <input name="gameId" value="@ViewBag.gameId" style="display:none" />
                        <input name="timeLeft" id="timeLeft" value="0" style="display:none" />

                        <input type="submit" value="Отправить" class="menuBtns sendTheWordBtn" />
                    </form>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<section id="canceledGameSection">
    <div class="createGameBlock canceledGameBlock">
        <div class="createGameBackgrnd"></div>
        <div class="createGameForm">
            <h1 class="titleForCreateGame">Игра была отменена создателем</h1>

            <div class="selectBlockInCreateGame">
                <a asp-action="queue" asp-controller="game" style="width: 100%; height: 100%">
                    <input type="button" class="menuBtns headBtn" value="Ок" style="margin: auto; width: 100%;" />
                </a>
            </div>
        </div>
    </div>
</section>

<section id="endedGameSection">
    <canvas width="640" height="480" id="fireworks-canvas"></canvas>

    <div class="createGameBlock canceledGameBlock">
        <div class="createGameBackgrnd"></div>
        <div class="createGameForm">
            <h1 class="titleForCreateGame">Игра завершена!</h1>
            <div class="theWinner">Победил игрок <span id="theWinnerName"></span>, набрав <span id="theWinnerScore"></span> очков</div>
            <div class="selectBlockInCreateGame">
                <a asp-action="queue" asp-controller="game" style="width: 100%; height: 100%">
                    <input type="button" class="menuBtns headBtn" value="Ок" style="margin: auto; width: 100%;" />
                </a>
            </div>
        </div>
    </div>
</section>


<section id="confirmDisconnectFromTheGame">

    <div class="createGameBlock canceledGameBlock" style="height: 200px;">
        <div class="createGameBackgrnd"></div>
        <div class="createGameForm">
            <h1 class="titleForCreateGame">Вы уверены, что хотите покинуть игру?</h1>

            <div class="selectBlockInCreateGame">
                <form asp-controller="game" asp-action="SimpleLeavingFromTheGame" style="width: 100%;margin: 10px;">
                    <input value="@User.Identity.Name" name="leaverName" style="display: none" />
                    <input value="@ViewBag.Game.Id" name="roomId" style="display: none" />
                    <input type="submit" class="menuBtns headBtn" value="Да" style="width: 100%;" />

                </form>
                <input type="button" class="menuBtns headBtn" value="Отмена" onclick="hideConfirmForDisconnectMessage()" style="width: 100%; margin: 10px;" />

            </div>
        </div>
    </div>
</section>

<form style="display: none" asp-action="NextPlayer" asp-controller="Game">
    <input name="gameId" value="@ViewBag.gameId" style="display:none" />
    <input name="username" value="@User.Identity.Name" style="display:none" />
    <input type="submit" value="send" style="display:none" class="menuBtns sendTheWordBtnc sendNextUserForm" />
</form>

<form style="display: none" asp-action="TimeSender" asp-controller="Game">
    <input name="gameId" value="@ViewBag.gameId" style="display:none" />
    <input name="sendSeconds" id="sendSeconds" value="10" style="display:none" />
    <input type="submit" value="send" style="display:none" class="sendTheTime" />
</form>
<div style="display: none">
    <audio controls="controls" id="endOfTheGameSound">
        <source src="~/sounds/endOfTheGameSound.mp3" type="audio/mpeg" autoplay="autoplay" />
    </audio>
    <audio controls="controls" id="timeToMove">
        <source src="~/sounds/timeToMoveSound.mp3" type="audio/mpeg" autoplay="autoplay" />
    </audio>
    <audio controls="controls" id="lowTimeAudio">
        <source src="~/sounds/lowTimeSound.mp3" type="audio/mpeg" autoplay="autoplay" />
    </audio>
</div>

<script src="~/js/gameScripts.js"></script>
<script src="~/js/signalR/signalr.min.js"></script>

<script>

    function hideCanceledGameMessage() {
        document.location.replace("https://localhost:5001/game/queue");
    }
    function showCanceledGameMessage() {
        document.getElementById("canceledGameSection").style.display = "block";
    }

    function hideConfirmForDisconnectMessage() {
        document.getElementById("confirmDisconnectFromTheGame").style.display = "none";
    }



    function showEndedGameMessage(name, score) {
        document.getElementById("theWinnerName").innerHTML = name;
        document.getElementById("theWinnerScore").innerHTML = score;
        fireworkStart();
        document.getElementById('endOfTheGameSound').play();
        document.getElementById("endedGameSection").style.display = "block";
    }

    function stop() {
        clearInterval(seconds_timer_id);

    }

    function showAlert(textForAlert) {
        document.getElementsByClassName('mistakeAlertText')[0].innerHTML = textForAlert;
        $(function () { $('.mistakeAlertText').stop().fadeIn(250).fadeOut(3000); });
    }
</script>


<script src="~/js/fireworks.js"></script>
<script>

    function fireworkStart() {
        var firework = JS_FIREWORKS.Fireworks({
            id: 'fireworks-canvas',
            hue: 120,
            particleCount: 50,
            delay: 0,
            minDelay: 75,
            maxDelay: 150,
            boundaries: { // of respawn and target
                top: 50,
                bottom: 240,
                left: 50,
                right: 590
            },
            fireworkSpeed: .5,
            fireworkAcceleration: 1.05,
            particleFriction: .95,
            particleGravity: 1.5
        });
        firework.start();
    };
</script>



<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();
    //Штука, которая отвечает за подключение типочков

    hubConnection.on('ShowNewPerson', function (name, photo, score) {

        var gamerBlock = document.createElement('div');
        gamerBlock.classList.add("theGamer");
        gamerBlock.setAttribute("name", name);

        var gamerAvatarBlock = document.createElement('div');
        gamerAvatarBlock.classList.add("gamersAvatarBlock");

        var gamerAvatar = document.createElement('img');
        gamerAvatar.setAttribute("src", photo);
        gamerAvatar.classList.add("gamersAvatar");

        gamerAvatarBlock.appendChild(gamerAvatar);

        gamerBlock.appendChild(gamerAvatarBlock);

        var nameAndStatus = document.createElement('div');
        nameAndStatus.classList.add("nameAndStatus");

        var gamersName = document.createElement('div');
        gamersName.classList.add("gamersName")
        gamersName.innerHTML = name;

        var gamersRank = document.createElement('div');
        gamersRank.classList.add("gamersRank")
        gamersRank.innerHTML = "Счёт: " + score;


        nameAndStatus.appendChild(gamersName);
        nameAndStatus.appendChild(gamersRank);

        gamerBlock.appendChild(nameAndStatus);

        document.getElementsByClassName("gamersBlock")[0].appendChild(gamerBlock);

    });


    hubConnection.on('autoLeaving', function () {

        showCanceledGameMessage();

    });

    hubConnection.on('showConfirmForDisconnectMessage', function () {
        document.getElementById("confirmDisconnectFromTheGame").style.display = "block";
    });


    hubConnection.on('HideDisconnectedUser', function (username) {

        document.getElementsByName(username)[0].remove();

    });

    hubConnection.on('endedGameMessage', function (name, score) {

        showEndedGameMessage(name, score);

    });


    hubConnection.on('hideStartBtn', function () {

        document.getElementById("startGameBtn").remove();

    });

    hubConnection.on("UsersWordAdd", function (word, sender) {
        var sendedWordsBlock = document.getElementsByClassName('sendedWordsBlock')[0];
        var div = document.createElement("div");
        div.classList.add('userWord');
        div.classList.add('sendedWord');

        sendedWordsBlock.appendChild(div);

        var author = document.createElement("div");
        author.classList.add('userIsAuthor');
        author.innerHTML = sender;

        div.appendChild(author);

        var text = document.createElement("div");
        text.classList.add('wordName');
        text.innerHTML = word;

        div.appendChild(text);

        document.getElementsByClassName('sendedWordsBlock')[0].scrollTop = document.getElementsByClassName('sendedWordsBlock')[0].scrollHeight;
    });

    hubConnection.on("OpponentWordAdd", function (word, sender) {
        var sendedWordsBlock = document.getElementsByClassName('sendedWordsBlock')[0];
        var div = document.createElement("div");
        div.classList.add('sendedWord');

        sendedWordsBlock.appendChild(div);

        var author = document.createElement("div");
        author.classList.add('opponentIsAuthor');
        author.innerHTML = sender;

        div.appendChild(author);

        var text = document.createElement("div");
        text.classList.add('wordName');
        text.innerHTML = word;

        div.appendChild(text);

        document.getElementsByClassName('sendedWordsBlock')[0].scrollTop = document.getElementsByClassName('sendedWordsBlock')[0].scrollHeight;
    });

    hubConnection.on("queueMistake", function () {
        showAlert("Сейчас не Ваша очередь");
    });
    hubConnection.on("emptyField", function () {
        showAlert("Поле для слова не может быть пустым");
    });
    hubConnection.on("wordStartWithWrongLetter", function (requiredLetter) {
        showAlert("Слово должно начинаться на букву " + requiredLetter);
    });
    hubConnection.on("wordHasBeenUsed", function () {
        showAlert("Слово уже было использовано");
    });
    hubConnection.on("wordDoesntExist", function () {
        showAlert("Такого слова не существует");
    });
    hubConnection.on("gameWasntStarted", function () {
        showAlert("Дождитесь начала игры");

    });
    hubConnection.on("anotherMistakeWithSendingMessage", function () {
        showAlert("Непредвиденная ошибка");
    });



    hubConnection.on("whoMustMoveNoActiveGamer", function (nextPlayerToMove, username) {

        if (nextPlayerToMove == " ") {
            document.getElementById("showWhoMustMove").innerHTML = "";
        }
        else {
            document.getElementById("showWhoMustMove").innerHTML = "Ход игрока " + nextPlayerToMove;

        }
        $(".seconds").text("");
        stopTheTimer()
        
    });

    hubConnection.on("whoMustMoveActiveGamer", function () {

        document.getElementById("showWhoMustMove").innerHTML = "Время сделать ход";
        startTheTimer();

       
    });


    hubConnection.on("changeUserScore", function (user, score) {
        userBlock = document.getElementsByName(user)[0];
        userBlock.getElementsByClassName("gamersRank")[0].innerHTML = "Счет: " + score;
    });

    hubConnection.start();



</script>