
<div class="mainBattleBlock">
    <div class="userShortInfoBlock">
        <div class="userPhotoBlock photoInGame">
            @*<img src="@ViewBag.Human.ProfileImageId.ImageSource" />*@
            <img src="~/images/starting_profile_images/image_girl_with_skate.jpg" />
        </div>

        <div class="nameAndStatusInGame">

            <div class="userName userNameInGame" style="">
                @*@ViewBag.Human.LoginName*@
                ReiFararei
            </div>
            <br />
            <div class="userStatus userStatusInGame">
                Новичок
            </div>

        </div>
    </div>

    <div class="battleFieldBlock">
        <form>
            <div style="background: red;"></div>
            <input type="text">

            <input type="button">
        </form>
    </div>



    <div class="opponentsBlock">
        <div class="userShortInfoBlock opponentShortInfoBlock">
            <div class="nameAndStatusInGame">

                <div class="userName userNameInGame opponentNameInGame" style="">
                    @*@ViewBag.Human.LoginName*@
                    ReiFararei
                </div>
                <br />
                <div class="userStatus userStatusInGame">
                    Новичок
                </div>

            </div>
            <div class="userPhotoBlock photoInGame">
                @*<img src="@ViewBag.Human.ProfileImageId.ImageSource" />*@
                <img src="~/images/starting_profile_images/image_girl_with_skate.jpg" />
            </div>

        </div>
    </div>
</div>