<link href="~/css/queueStyles.css" rel="stylesheet" />
<div>
    <div class="">
        Количество:
        <input id="First" type="text" value="" readonly style="background:none; border:none;" />
    </div>


    <div id="inTurnFadingTextG">
        <div id="inTurnFadingTextG_1" class="inTurnFadingTextG">З</div>
        <div id="inTurnFadingTextG_2" class="inTurnFadingTextG">а</div>
        <div id="inTurnFadingTextG_3" class="inTurnFadingTextG">г</div>
        <div id="inTurnFadingTextG_4" class="inTurnFadingTextG">р</div>
        <div id="inTurnFadingTextG_5" class="inTurnFadingTextG">у</div>
        <div id="inTurnFadingTextG_6" class="inTurnFadingTextG">з</div>
        <div id="inTurnFadingTextG_7" class="inTurnFadingTextG">к</div>
        <div id="inTurnFadingTextG_8" class="inTurnFadingTextG">а</div>
        <div id="inTurnFadingTextG_9" class="inTurnFadingTextG">.</div>
        <div id="inTurnFadingTextG_10" class="inTurnFadingTextG">.</div>
        <div id="inTurnFadingTextG_11" class="inTurnFadingTextG">.</div>
    </div>
    <br />
    <div id="timerSetting">
        <div id="timerBlock">
            <div id="timerr">
                <input id="seccc" type="text" value="" readonly style="background:none; border:none;" />

            </div>
        </div>
    </div>
</div>

<link href="~/css/queue_text.css" rel="stylesheet" />
<script src="~/js/signalR/signalr.min.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();
    //Штука, которая отвечает за подключение типочков

    hubConnection.on('Joining', function (message) {

        document.getElementById("First").value = message;
        ////quant = message;

    });

    hubConnection.on('Timer', function (message) {

        document.getElementById("seccc").value = message;
        ////quant = message;

    });

    

    hubConnection.start();


    
        //var timerBlock = $('.seconds');
        //var num = 30; //количество секунд

        //var index = num;
        //var timerId = setInterval(function () {
        //    timerBlock.html(--index);
        //}, 1000);

        //setTimeout(function () {
        //    clearInterval(timerId);
        //    $('#timerBlock').html('<button>hello!</button>')
        //}, num * 1000);
    

</script>