﻿@model WebWordGame.Models.RegistrationModel
@{
    ViewBag.Title = "Регистрация";
}

<div>
    <div id="main">
        <div id="logInForm">
            <div id="registration">



                <div style="text-align: center; text-decoration: underline;">
                    Зарегистрируйся и играй
                </div>
                <br />

                <form asp-action="Registration" asp-controller="LogIn" asp-anti-forgery="true">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>

                    <div>
                        <div>
                            <input type="text" asp-for="LoginName" class="inputBlock" placeholder="Введите логин" autocomplete="off" />
                            <span asp-validation-for="LoginName" class="attention-text" />
                        </div>
                        <br />

                        <div>
                            <input type="text" asp-for="Email" class="inputBlock" placeholder="Введите почтовый адрес" autocomplete="off" />
                            <span asp-validation-for="Email" class="attention-text" />

                        </div>
                        <br />

                        <div>
                            <input asp-for="Password" class="inputBlock" placeholder="Введите пароль" autocomplete="off" />
                            <span asp-validation-for="Password" class="attention-text" />


                        </div>
                        <div id="hideAndSeekPasswordBlock" style="display: flex;">
                            <div id="forEyeBlock" style=" margin-top: auto; margin-bottom: auto;"></div>
                            <div id="TextForShowPass" style="font-size:19px;">Показать пароль</div>
                            <div id="TextForHidePass" style="display: none; font-size:19px;">Скрыть пароль</div>

                        </div>
                        <div>
                            <input asp-for="ConfirmPassword" class="inputBlock" placeholder="Повторите пароль" autocomplete="off" />
                            <span asp-validation-for="ConfirmPassword" class="attention-text" />
                        </div>
                        <div class="formForBtns">
                            <input class="menuBtns formBtns" type="submit" value="Зарегистрироваться" />
                            <br />
                            <a class="menuBtns formBtns" asp-action="login" asp-controller="login"> Уже есть аккаунт? </a>
                            <br />
                            <a class="menuBtns formBtns" asp-action="index" asp-controller="home"> В главное меню </a>

                        </div>
                    </div>
                </form>
            </div>


        </div>

    </div>
</div>


