
@{
    ViewBag.Title = "The Word Game";
}



<div id="main">

    <div id="gameTypeChoosing">
        <a href="#"><input class="menuBtns" type="button" value="Играть против компьютера"></a>
        <br>
        <input class="menuBtns" type="button" value="Играть против игроков" onclick="showGameQuantityPeopleChoosing()">
        <br>
        <input class="menuBtns" type="button" value="Назад" onclick="showMainMenu();">
    </div>

    <div id="gameQuantityPeopleChoosing" style="display: none;">
        <input class="menuBtns" type="button" value="Играть против одного игрока">
        <br>
        <input class="menuBtns" type="button" value="Играть против двух игроков">
        <br>
        <input class="menuBtns" type="button" value="Играть против трех игроков">
        <br>
        <input class="menuBtns" type="button" value="Назад" onclick="showGameTypeChoosingMenu();">
    </div>




</div>

