
@{
    ViewBag.Title = "The Word Game";
}



<div id="main">

    <div style="text-align:center" name="startMenu" id="startMenu">



        @if (ViewContext.HttpContext.User.IsInRole("person"))
        {


            <a asp-action="queue" asp-controller="game" style="text-decoration: none;">
                <input value="Начать играть" type="button" class="menuBtns formBtns" />
            </a>
            <a asp-action="userpage" asp-controller="profile" style="text-decoration: none;">
                <input value="Профиль" type="button" class="menuBtns formBtns" />
            </a>

            <input class="menuBtns formBtns" type="button" value="Правила">
            @*<input class="menuBtns formBtns" type="button" value="Помощь">*@
        }
        else if (ViewContext.HttpContext.User.IsInRole("admin"))
        {
            <a asp-action="queue" asp-controller="game" style="text-decoration: none;">
                <input value="Начать играть" type="button" class="menuBtns formBtns" />
            </a>
            <a asp-action="userpage" asp-controller="profile" style="text-decoration: none;">
                <input value="Профиль" type="button" class="menuBtns formBtns" />
            </a>
            <a asp-action="addwordatdb" asp-controller="adminzone" style="text-decoration: none;">
                <input value="Добавить слово" type="button" class="menuBtns formBtns" />
            </a>
            <input class="menuBtns formBtns" type="button" value="Правила">
            
        }
        else
        {
            <div id="startBtns">
                <a asp-action="queue" asp-controller="game" style="text-decoration: none;">
                    <input value="Начать играть" type="button" class="menuBtns formBtns" />
                </a>

                <input class="menuBtns formBtns" type="button" value="Правила">

            </div>
        }








    </div>
</div>
