
@{
    ViewBag.Title = "The Word Game";
}



<div id="main">

    <div style="text-align:center" name="startMenu" id="startMenu">

        <div id="startBtns">
            <a asp-action="GameTypeChoosingPage" asp-controller="Home" class="menuBtns">Начать играть</a>
            
            <br>
            <input class="menuBtns" type="button" value="Правила">
            <br>
            <input class="menuBtns" type="button" value="Помощь">
            <br>
            <input class="menuBtns" type="button" value="Reports">


        </div>

        

        <div id="gameTypeChoosing" style="display: none;">
            <a href="#"><input class="menuBtns" type="button" value="Играть против компьютера"></a>
            <br>
            <input class="menuBtns" type="button" value="Играть против игроков" onclick="showGameQuantityPeopleChoosing()">
            <br>
            <input class="menuBtns" type="button" value="Назад" onclick="showMainMenu();">
        </div>

        <div id="gameQuantityPeopleChoosing" style="display: none;">
            <input class="menuBtns" type="button" value="Играть против одного игрока">
            <br>
            <input class="menuBtns" type="button" value="Играть против двух игроков">
            <br>
            <input class="menuBtns" type="button" value="Играть против трех игроков">
            <br>
            <input class="menuBtns" type="button" value="Назад" onclick="showGameTypeChoosingMenu();">
        </div>




    </div>
</div>
