
@{
    ViewBag.Title = "The Word Game";
}



<div id="main">

    <div style="text-align:center" name="startMenu" id="startMenu">



        @if (ViewContext.HttpContext.User.IsInRole("person"))
        {


            <a asp-action="GameTypeChoosingPage" asp-controller="Home" class="menuBtns formBtns">Начать играть</a>
            <a asp-action="UserPage" asp-controller="Profile" class="menuBtns formBtns">Профиль</a>

            <input class="menuBtns formBtns" type="button" value="Рейтинг">

            <input class="menuBtns formBtns" type="button" value="Правила">
            <br>
            <input class="menuBtns formBtns" type="button" value="Помощь">
            <br>
            <input class="menuBtns formBtns" type="button" value="Reports">
            <br>
            <form asp-action="queue" asp-controller="game">
                <button class="menuBtns headBtn">Обновить комнаты</button>
            </form>
        }
        else if (ViewContext.HttpContext.User.IsInRole("admin"))
        {
            <a asp-action="GameTypeChoosingPage" asp-controller="Home" class="menuBtns formBtns">Начать играть</a>
            <a asp-action="UserPage" asp-controller="Profile" class="menuBtns formBtns">Профиль</a>

            <input class="menuBtns formBtns" type="button" value="Рейтинг">

            <input class="menuBtns formBtns" type="button" value="Правила">
            <br>
            <input class="menuBtns formBtns" type="button" value="Помощь">
            <br>
            <input class="menuBtns formBtns" type="button" value="Reports">
            <br>
            <br>
            <input class="menuBtns formBtns" type="button" value="Заявки">
            <br>
            <input class="menuBtns formBtns" type="button" value="Отчеты">
        }
        else
        {
            <div id="startBtns">
                <a asp-action="GameTypeChoosingPage" asp-controller="Home" class="menuBtns formBtns">Начать играть</a>
                <input class="menuBtns formBtns" type="button" value="Рейтинг">

                <input class="menuBtns formBtns" type="button" value="Правила">

            </div>
        }








    </div>
</div>
