


@{
    ViewBag.Title = "The Word Game";
}



<div id="main">

    <div style="text-align:center" name="startMenu" id="startMenu">

        <div id="startBtns">
            <input class="menuBtns" type="button" value="Начать играть" onclick="showAuthTypeChoosing();">
            <br>
            <input class="menuBtns" type="button" value="Правила">
            <br>
            <input class="menuBtns" type="button" value="Помощь">
            <br>
            <input class="menuBtns" type="button" value="Reports">
        </div>

        <div id="authTypeChoosingBtns" style="display: none;">
            Для начала игры необходимо войти
             <div>
                

                <a style="text-decoration: none;" asp-action="Login" asp-controller="LogIn">
                    <div class="menuBtns">
                        Вход
                    </div>
                </a>

                <a style="text-decoration: none;" asp-action="Registration" asp-controller="LogIn">
                    <div class="menuBtns">
                        Регистрация
                    </div>
                </a>
            </div>

            <!-- <a style="text-decoration: none; padding-bottom:55px;" asp-action="Login" asp-controller="LogIn"><div class="menuBtns">Вход </div></a>

    <div class="menuBtns">
        <a style="text-decoration: none; margin-bottom:55px;" asp-action="Login" asp-controller="LogIn"> Вход </a>
    </div>

    <div class="menuBtns">
        <a style="text-decoration: none;" asp-action="Registration" asp-controller="LogIn"> Регистрация </a>
    </div>-->
        </div>

        <div id="gameTypeChoosing" style="display: none;">
            <a href="#"><input class="menuBtns" type="button" value="Играть против компьютера"></a>
            <br>
            <input class="menuBtns" type="button" value="Играть против игроков" onclick="showGameQuantityPeopleChoosing()">
            <br>
            <input class="menuBtns" type="button" value="Назад" onclick="showMainMenu();">
        </div>

        <div id="gameQuantityPeopleChoosing" style="display: none;">
            <input class="menuBtns" type="button" value="Играть против одного игрока">
            <br>
            <input class="menuBtns" type="button" value="Играть против двух игроков">
            <br>
            <input class="menuBtns" type="button" value="Играть против трех игроков">
            <br>
            <input class="menuBtns" type="button" value="Назад" onclick="showGameTypeChoosingMenu();">
        </div>


        

    </div>
</div>
