@{
    ViewBag.Title = "Правила";
}

<link href="~/css/rules.css" rel="stylesheet" />

<div id="rulesBlock">



    <p>
        <h1>О чем игра</h1>
        Игра в слова — игра для нескольких (двух или более) человек, в которой каждый участник в
        свою очередь называет существительное, название которого начинается на ту букву, которой оканчивается название предыдущего существительного


        </p>
    <p>
        <h1>Правила</h1>
        При старте игры система выдает слово, на последнюю букву которого первый игрок должен придумать слово. Затем следующий игрок придумает слово на букву,
        на которую заканчивается слово предыдущего игрока и т.д.
        <br />
        <br />

        Игра длится до тех пор, пока один из игроков не преодолеет рубеж в 255 очков.
        <br />
        <br />

        Если игрок остался в комнате один, то игра заканчивается с концом его хода.
        <br />
        <br />
        Слова не могут повторяться.
        <br />
        <br />
        Если слово, на последнюю букву которого нужно придумать новое существительное, заканчивается на Ь, Ъ или Ы,
        то берется предпоследняя буква.

    </p>

    </div>

