﻿.mainTable {
    width: 93%;
    height: 89%;
}


.gamersBlock{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    margin-top: 10px;
}

.theGamer {
    width: 100%;
    height: 120px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    border-radius: 60px;
    display: flex;
    overflow: hidden;
}

.gamersAvatarBlock{
    height:100%;
    width: auto;
    border-radius: 800px;
    overflow:hidden;
    min-width:120px;
}

.gamersAvatar{
    height:100%;
    width:auto;

}

.nameAndStatus {
    margin: auto 0px auto 10px;
}

.gamersName{
    font-size: 40px;
    white-space:nowrap;
}
.gamersRank{
    font-size: 25px;
}
.gamersScore {
    font-size: 18px;
}

.theGameBlock {
    width: 98%;
    height: 98%;
    border-radius: 25px;
    /*overflow: hidden;*/
    margin: 10px;
    position: relative;
}

.sendedWordsBlock {
    width: 100%;
    /*height: 96.5%;*/
    /*height: 770px;*/
    height: 75vh;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    /*display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    overflow: hidden;*/
    margin-bottom: 10px;
    padding-bottom: 5px;
    overflow: overlay;
    position: relative;
}




.sendedWord {
    inline-size: max-content;
    margin: 5px 10px;
    padding: 5px;
    border: 1px solid #ffffffe3;
    border-radius: 10px;
}

.wordName {
    font-size: 21px;
}

.opponentIsAuthor {
    font-size: 13px;
    color: #00e7ff;
}



.userWord {
    margin-left:auto;
}

.userIsAuthor {
    font-size: 13px;
    text-align: right;
    color: #00f13f;
}


.sendTheWordBlock {
    width: 100%;
    height: 25px;
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    display: flex;
}



.typeTheWord {
    width: 75%;
    text-align: center;
    background: none;
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid white;
    color: #bfbfbf;
}
    .typeTheWord:focus {
        outline: none !important;
    }

.sendTheWordBtn {
    width: 25%;
}


.gameTimer {
    width: 100%;
    /*height: 96.5%;*/
    /*height: 770px;*/
    height: 75vh;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    /*display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    overflow: hidden;*/
    margin-bottom: 10px;
    padding-bottom: 5px;
    overflow: overlay;
}

.startTextBlock {
    position: relative;
    height: 100%;
    width: 100%;
}
.startText {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}

.mistakeAlertText {
    position: absolute;
    /* left: 50%; */
    bottom: 10%;
    left: 10%;
    /* background: linear-gradient(119deg, rgba(209,0,0,1) 0%, rgba(181,1,50,1) 25%, rgba(168,4,57,1) 50%, rgba(136,0,176,1) 75%, rgba(63,0,134,1) 100%); */
    background: radial-gradient(circle, rgba(209,0,0,1) 0%, rgba(209,0,0,0.4990371148459384) 100%);
    padding: 10px;
    opacity: 0.9;
    border: solid 2px;
    border-radius: 15px;
    width: 65%;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    display: none;
    /* animation: hideAlert 1s forwards;
}

@keyframes hideAlert {
    0% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }*/
}