﻿#inTurnFadingTextG {
    width: 234px;
    margin: auto;
}

.inTurnFadingTextG {
    color: rgb(0,0,0);
    font-family: Arial;
    font-size: 24px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    float: left;
    animation-name: bounce_inTurnFadingTextG;
    -o-animation-name: bounce_inTurnFadingTextG;
    -ms-animation-name: bounce_inTurnFadingTextG;
    -webkit-animation-name: bounce_inTurnFadingTextG;
    -moz-animation-name: bounce_inTurnFadingTextG;
    animation-duration: 2.09s;
    -o-animation-duration: 2.09s;
    -ms-animation-duration: 2.09s;
    -webkit-animation-duration: 2.09s;
    -moz-animation-duration: 2.09s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#inTurnFadingTextG_1 {
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
}

#inTurnFadingTextG_2 {
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

#inTurnFadingTextG_3 {
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}

#inTurnFadingTextG_4 {
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}

#inTurnFadingTextG_5 {
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
}

#inTurnFadingTextG_6 {
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

#inTurnFadingTextG_7 {
    animation-delay: 1.64s;
    -o-animation-delay: 1.64s;
    -ms-animation-delay: 1.64s;
    -webkit-animation-delay: 1.64s;
    -moz-animation-delay: 1.64s;
}

#inTurnFadingTextG_8 {
    animation-delay: 1.79s;
    -o-animation-delay: 1.79s;
    -ms-animation-delay: 1.79s;
    -webkit-animation-delay: 1.79s;
    -moz-animation-delay: 1.79s;
}

#inTurnFadingTextG_9 {
    animation-delay: 1.94s;
    -o-animation-delay: 1.94s;
    -ms-animation-delay: 1.94s;
    -webkit-animation-delay: 1.94s;
    -moz-animation-delay: 1.94s;
}

#inTurnFadingTextG_10 {
    animation-delay: 2.09s;
    -o-animation-delay: 2.09s;
    -ms-animation-delay: 2.09s;
    -webkit-animation-delay: 2.09s;
    -moz-animation-delay: 2.09s;
}

#inTurnFadingTextG_11 {
    animation-delay: 2.24s;
    -o-animation-delay: 2.24s;
    -ms-animation-delay: 2.24s;
    -webkit-animation-delay: 2.24s;
    -moz-animation-delay: 2.24s;
}

#inTurnFadingTextG_12 {
    animation-delay: 2.39s;
    -o-animation-delay: 2.39s;
    -ms-animation-delay: 2.39s;
    -webkit-animation-delay: 2.39s;
    -moz-animation-delay: 2.39s;
}

#inTurnFadingTextG_13 {
    animation-delay: 2.54s;
    -o-animation-delay: 2.54s;
    -ms-animation-delay: 2.54s;
    -webkit-animation-delay: 2.54s;
    -moz-animation-delay: 2.54s;
}

#inTurnFadingTextG_14 {
    animation-delay: 2.69s;
    -o-animation-delay: 2.69s;
    -ms-animation-delay: 2.69s;
    -webkit-animation-delay: 2.69s;
    -moz-animation-delay: 2.69s;
}

#inTurnFadingTextG_15 {
    animation-delay: 2.84s;
    -o-animation-delay: 2.84s;
    -ms-animation-delay: 2.84s;
    -webkit-animation-delay: 2.84s;
    -moz-animation-delay: 2.84s;
}

#inTurnFadingTextG_16 {
    animation-delay: 2.99s;
    -o-animation-delay: 2.99s;
    -ms-animation-delay: 2.99s;
    -webkit-animation-delay: 2.99s;
    -moz-animation-delay: 2.99s;
}

#inTurnFadingTextG_17 {
    animation-delay: 3.14s;
    -o-animation-delay: 3.14s;
    -ms-animation-delay: 3.14s;
    -webkit-animation-delay: 3.14s;
    -moz-animation-delay: 3.14s;
}

#inTurnFadingTextG_18 {
    animation-delay: 3.29s;
    -o-animation-delay: 3.29s;
    -ms-animation-delay: 3.29s;
    -webkit-animation-delay: 3.29s;
    -moz-animation-delay: 3.29s;
}

#inTurnFadingTextG_19 {
    animation-delay: 3.44s;
    -o-animation-delay: 3.44s;
    -ms-animation-delay: 3.44s;
    -webkit-animation-delay: 3.44s;
    -moz-animation-delay: 3.44s;
}

#inTurnFadingTextG_20 {
    animation-delay: 3.59s;
    -o-animation-delay: 3.59s;
    -ms-animation-delay: 3.59s;
    -webkit-animation-delay: 3.59s;
    -moz-animation-delay: 3.59s;
}

#inTurnFadingTextG_21 {
    animation-delay: 3.74s;
    -o-animation-delay: 3.74s;
    -ms-animation-delay: 3.74s;
    -webkit-animation-delay: 3.74s;
    -moz-animation-delay: 3.74s;
}




@keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgba(0,0,0,0.5);
    }

    100% {
        color: rgba(255,255,255,0.5);
    }
}

@-o-keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgba(0,0,0,0.5);
    }

    100% {
        color: rgba(255,255,255,0.5);
    }
}

@-ms-keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgba(0,0,0,0.5);
    }

    100% {
        color: rgba(255,255,255,0.5);
    }
}

@-webkit-keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgba(0,0,0,0.5);
    }

    100% {
        color: rgba(255,255,255,0.5);
    }
}

@-moz-keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgba(0,0,0,0.5);
    }

    100% {
        color: rgba(255,255,255,0.5);
    }
}
