﻿body{
    height: 100%;
    padding:55px;
    width: 100%;
    position: fixed;
}

.header{
    display: flex;
}

.headerBtnsList {
    list-style-type: none;
    display: inherit;
    margin-left: auto;
    margin-right: 140px;
}

.headBtn {
    min-height: 50px;
    margin-left: 10px;
    padding: 0 15px;
    cursor: pointer;
}

.gameRooms {
    border: solid rgba(255, 255, 255, 0.35) 1px;
    border-radius: 25px;
    width: 92%;
    height: 78%;
    overflow: hidden;
    position: relative;
}

.infoAboutGamesBlock {
    /*display: flex;
    width: 100%;
    height: 35px;
    background: rgba(255, 255, 255, 0.15);
    text-align: justify;
    justify-content: space-between;*/
    background: rgba(255, 255, 255, 0.15);
    height: 35px;
    width: 99.87%;
    margin-bottom: 15px;
}
.infoGameTable {
    width: 100%;
    table-layout: fixed;
    font-size: 20px;
}

.firstColumnInInfoGame {
    padding-left: 10px;
}

.secondColumnInInfoGame {
    text-align: center;

}

.thirdColumnInInfoGame {
    text-align: right;
    padding-right: 10px;
}



.game-radio {
    display:none;
}



.game-details {
    background: rgba(255, 255, 255, 0.07);
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 0px;
    /*transition: border-color 0.2s ease-out, box-shadow 0.3s ease-out;*/
}

.game:hover .game-details {
    box-shadow: 0 4px 14px rgba(0,0,0,0.2);
    background: rgba(255, 255, 255, 0.15);
}

.game-radio:checked ~ .game-details {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.15);
}



.queuesSbmtBtn {
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    font-weight: bold;
    color: #bfbfbf;
    height: 40px;
    border: none;
    font-size: 20px;
}
    .queuesSbmtBtn:hover {
        background: rgba(255, 255, 255, 0.25);
    }


    /* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.75);
        cursor: pointer;
    }





#createGameSection {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    opacity: 0;
    animation: showCreateGameMenu 0.5s forwards;
}

@keyframes showCreateGameMenu{
    
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}



.createGameBlock {
    position: absolute;
    height: 310px;
    width: 400px;
    top: 0;
    right: 100px;
    bottom: 160px;
    left: 0;
    margin: auto;
    background: black;
    border-radius: 25px;
    overflow: hidden;
    border: solid;
}
.createGameBackgrnd {
    /*height: 100vh;
    width: 100vw;*/
    height: 105vh;
    width: 105vw;
    background: linear-gradient(139deg, rgb(255 0 0) 0%, rgb(78 32 112) 55%,rgb(0 33 126) 100%);
    position: relative;
    left: -41vw;
    top: -35vh;
}

.createGameForm {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 20px;
    width:90%;
}

    .createGameForm .inputBlock {
        background: none;
        width: 100%;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid white;
        color: #bfbfbf;
        margin-bottom: 20px;
    }

/*#createGameForm input::placeholder {
    color: rgba(255,255,255,0.25);
}*/


.createGameForm .inputBlock:focus {
    outline: none !important;
}

.titleForCreateGame {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}

.selectBlockInCreateGame {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.selectInCreateGame {
    background: none;
    border: solid 2px;
    border-radius: 90px;
    color: #bfbfbf;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
    -webkit-appearance: none;
    padding-left: 12.5px;
}
    .selectInCreateGame:focus {
        outline: none !important;
    }


.createGameBtns{
    margin:0;
}



#canceledGameSection {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    opacity: 0;
    animation: canceledGameSection 0.5s forwards;
}

@keyframes canceledGameSection {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#endedGameSection {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    opacity: 0;
    animation: canceledGameSection 0.5s forwards;
}

#confirmDisconnectFromTheGame {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    opacity: 0;
    animation: canceledGameSection 0.5s forwards;
}

#fireworks-canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: none;
    opacity: 0;
    animation: canceledGameSection 0.5s forwards;
}

.canceledGameBlock{
    width: 450px;
    height:150px;
}

.theWinner {
    width: 100%;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: 20px;
}
