﻿html {
height:100%;
}
body {
    background: linear-gradient(139deg, rgb(255 0 0) 0%, rgb(78 32 112) 55%,rgb(0 33 126) 100%);
    font-weight: bold;
    color: #bfbfbf;
    font-family: 'Sitka Heading';
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}


#main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 22pt;
    
}

#helloWords {
    text-align: center;
    margin-bottom: 35px;
}

.myBtn {
    width: 600px;
    height: 75px;
    margin: 10px;
    border: 0;
    border-radius: 25px;
    font-size: 30px;
}






#logInForm {
    padding: 20px;
    border-radius: 25px;
    width: 550px;
    max-width: 550px;
}

    #logInForm .inputBlock {
        background: none;
        width: 100%;
        font-size: 20pt;
        margin-left: 4px;
        margin-right: 6px;
        border: none;
        border-bottom: 1px solid white;
        color: #bfbfbf;

    }
    #logInForm input::placeholder {
        color: rgba(255,255,255,0.25);
    }


        #logInForm .inputBlock:focus {
            outline: none !important;
        }
    #logInForm li {
        color: azure;
        font-size: 19px;
        font-weight: normal;
        
        list-style-type: none;
    }


.formForBtns {
   width: 100%;
   font-size: 0pt;
   margin-top: 15px;
}
.formBtns {
    display: block; 
    text-align: center; 
    width: 100%; 
    font-weight: normal;
    padding: 0px;
    cursor: pointer;
    margin-bottom: 2px;
    
}



.menuBtns {
    font-size: 14pt;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    text-decoration: none;
    color: #bfbfbf;
    background: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}
    .menuBtns:hover {
        background: rgba(255, 255, 255, 0.25);
    }

#startMenu .menuBtns {
    width: 265px;
    height: 32px;
}
.attention-text {
    color: azure;
    font-size: 19px;
    font-weight: normal;
    text-align: center;
}


.reveal-eye {

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    z-index: 2;
    width: 22px;
    height: 18px;
    background-image: url('../images/OpennPass.png');
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    
}

    .reveal-eye.is-visible {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: opacity .2s ease 0s, visibility 0s linear 0s;
    }


.gameNameImage {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    min-width: 450px;
}

    .gameNameImage img {
        width: 100%;
        opacity: 0.85;
    }
    




